*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'helvatica neue';
}
html,body{
  height: 100%;
  width: 100%;
}
.parent{
  height: 100vh;
  width: 100%;
  background: #111;
 padding: 30px;

}
.card{
  height: 400px;
  width: 300px;
  background-color: #fff;
  border-radius: 30px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.card .top{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.top img{
  height: 32px;
  width: 32px;
  border-radius: 50%;
  border: 1px solid #dadada;
  padding: 3px;
}
