*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family:'Poppins', 'Inter', sans-serif;
}
html body{
  height: 100vh;
  background: black;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}
button{
  background: rgb(171, 159, 159);
  height: 30px;
  padding: 10px;
  
}