*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'helvetica neue';
}
html,body{
  height: 100%;
  width: 100%;
}
.card{
  background: rgb(160, 195, 160);
  border-radius: 10px;
  color: #fff;
  padding: 10px;
  margin: 10px;
  height: 100px;
}