*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html body{
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
#BigDiv{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.btn {
  padding: 10px 20px;
  background-color: grey;
  border: none;
  color: white;
  border-radius: 6px;
  cursor: pointer;
}

/* Animation class */
.animate {
  animation: pop 0.3s ease;
}

/* Define animation */
@keyframes pop {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.30);
  }
  100% {
    transform: scale(1);
  }
}
