*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(37, 36, 36);
  height: 100vh;
  width: 100%;

}

button{
  padding: 20px 10px;
  background: rgb(52, 48, 48);
  color: aliceblue;
  border-radius: 10px;
  border: none;

}